* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body {
  width: 100vw;
  min-width: 375px;
  min-height: 100vh;
} */
.container {
  width: 100vw;
  min-width: 375px;
  min-height: 100vh;
  padding: 20px;
  background-color: hsl(228, 33%, 97%);
  display: flex;
  flex-direction: column;
}
.card-container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  /* min-width: 350px; */
  max-width: 60%;
  width: 60%;
  flex-direction: row;
  /* justify-content: space-between; */
}
.hr {
  width: 2px;
  min-width: 2px;
  height: inherit;
  background-color: hsl(223, 19%, 93%);
  margin: 0 40px;
}

.card {
  display: grid;
  grid-template-columns: 40px 40px min-content min-content auto 100px 100px;
  /* grid-template-columns:
      40px fit-content(40px) 1fr fit-content(1fr) 1fr
      fit-content(100px) fit-content(100px); */
  grid-template-rows: 50px, auto, 50px;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  column-gap: 10px;
  margin: 10px;
  padding: 10px 10px;
}

.card .update-comment {
  height: 100px;
  width: 100%;
  padding: 10px;
  resize: none;
  border-color: hsl(223, 19%, 93%);
  border-radius: 5px;
  grid-row: 2/3;
  grid-column: 2/8;
}
.card .update-comment:focus {
  outline-color: hsl(223, 19%, 93%);
}
.post-updated-comment {
  width: 80px;
  padding: 10px;
  height: 40px;
  background: hsl(238, 40%, 52%);
  color: white;
  /* margin: 0 10px; */
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  grid-row: 3/4;
  grid-column: 7/8;
  /* border-color: aliceblue; */
}

.vote {
  background-color: hsl(223, 19%, 93%);
  width: 40px;
  height: 80%;
  border-radius: 5px;
  margin: auto 5px;
  grid-row: 1/4;
  grid-column: 1/2;
}

.plus-icon {
  background: url("images/icon-plus.svg");
  width: 40px;
  height: 20px;
  cursor: pointer;
  /* border: solid; */
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px 0px;
}
.vote-count {
  width: 40px;
  height: 25px;
  color: hsl(238, 40%, 52%);
  text-align: center;
  margin: 5px 0px;
  padding: 2.5px 0px;
}
.minus-icon {
  background: url("images/icon-minus.svg");
  width: 40px;
  height: 20px;
  /* border: solid; */
  background-repeat: no-repeat;
  background-position: center;
  margin: 2.5px 0px;
  cursor: pointer;
}
.user-icon {
  width: 40px;
  height: 40px;
  background: url("images/avatars/image-amyrobson.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-row: 1/2;
  grid-column: 2/3;
  margin-left: 10px;
}
.username {
  font-weight: 500;
  font-size: 16px;
  color: hsl(212, 24%, 26%);
  grid-row: 1/2;
  grid-column: 3/4;
  margin: auto 5px;
}
.username.you::after {
  content: "you";
  background-color: hsl(238, 40%, 52%);
  color: white;
  /* position: absolute;
  top: 0;
  left: 0; */
  font-size: 10px;
  width: 20px;
  height: 10px;
  padding: 2px;
  margin-left: 5px;
}
.date {
  color: hsl(211, 10%, 45%);
  grid-row: 1/2;
  grid-column: 4/5;
  margin: auto 5px;
  white-space: nowrap;
}
.reply {
  width: 100px;
  display: flex;
  grid-row: 1/2;
  grid-column: 7/8;
  /* margin-top: auto; */
  /* flex-grow: 8; */
}
.reply-icon {
  background: url("images/icon-reply.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.reply-text {
  margin: auto 20px auto 0px;
  font-weight: 500;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}
.comment-text {
  padding: 10px 20px;
  font-size: 16px;
  color: hsl(211, 10%, 45%);
  grid-row: 2/4;
  grid-column: 2/8;
}
.delete-edit-group {
  width: 200px;
  margin: auto;
  grid-row: 1/2;
  grid-column: 6/8;
  display: grid;
  column-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
}
.edit {
  width: 80px;
  display: flex;
  /* margin-top: auto; */
  /* flex-grow: 8; */
  grid-row: 1/2;
  grid-column: 1/1;
}
.edit-icon {
  background: url("images/icon-edit.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  margin: auto 0px;
  height: 40px;
}
.edit-text {
  margin: auto 20px auto 0px;
  font-weight: 500;
  color: hsl(238, 40%, 52%);
  cursor: pointer;
}
.delete {
  display: flex;
  /* margin-top: auto; */
  /* flex-grow: 8; */
  grid-row: 1/2;
  grid-column: 2/3;
}
.delete-icon {
  background: url("images/icon-delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: auto 0px;
}
.delete-text {
  margin: auto 0px auto 0px;
  font-weight: 500;
  color: hsl(358, 79%, 66%);
  cursor: pointer;
}

.write-card-container {
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  min-width: 350px;
  max-width: 60%;
  width: 60%;
  flex-direction: row;
  /* justify-content: space-between; */
}

.write-card {
  display: grid;
  grid-template-columns: 60px auto 100px;
  grid-template-rows: 60px auto auto;
  background-color: white;
  /* width: 500px; */
  width: 100%;
  padding: 10px;
  margin: 10px 10px;
  border-radius: 5px;
}
.user-icon-write {
  width: 40px;
  height: 40px;
  background: url("images/avatars/image-amyrobson.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px;
  grid-row: 1/3;
  grid-column: 1/3;
}
.write-comment {
  height: 100px;
  /* width: 85%; */
  padding: 10px;
  resize: none;
  border-color: hsl(223, 19%, 93%);
  border-radius: 5px;
  grid-row: 1/4;
  grid-column: 2/3;
}
.write-comment:focus {
  outline-color: hsl(223, 19%, 93%);
}
.post-comment {
  width: 80px;
  padding: 10px;
  height: 40px;
  background: hsl(238, 40%, 52%);
  color: white;
  margin: 0 10px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  grid-row: 1/3;
  grid-column: 3/4;
  /* border-color: aliceblue; */
}
.reply-to {
  color: hsl(238, 40%, 52%);
  /* margin-right: 10px; */
  font-size: 16px;
  font-weight: 500;
  padding: 10px 5px;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 5px;
  }
  .card-container {
    width: 80%;
    max-width: 80%;
    margin: auto;
  }
  .write-card-container {
    width: 80%;
    max-width: 80%;
  }
}
@media screen and (max-width: 850px) {
  .container {
    padding: 5px;
  }
  .card-container {
    width: 95%;
    max-width: 95%;
    margin: auto;
  }
  .write-card-container {
    width: 95%;
    max-width: 95%;
  }
}
@media screen and (max-width: 720px) {
  .container {
    padding: 10px;
  }
  .card-container {
    width: 100%;
    max-width: 100%;
  }
  .card {
    max-width: 100%;
    grid-template-columns: 40px 60px auto 80px 50px 70px;
    grid-template-rows: 50px, auto, 50px;
  }
  .hr {
    margin: 0px 10px;
  }
  .vote {
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    width: 100px;
    /* align-content: center; */
    grid-row: 3;
    grid-column: 1/3;
  }
  .plus-icon,
  .minus-icon,
  .vote-count {
    margin: auto 0px;
  }

  .delete-icon,
  .edit-icon,
  .reply-icon {
    width: 20px;
    height: 20px;
  }
  .user-icon {
    width: 40px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .username {
    grid-row: 1/2;
    grid-column: 2/5;
  }
  .date {
    grid-row: 1/2;
    grid-column: 5/7;
  }
  .reply {
    grid-row: 3/4;
    grid-column: 6/7;
    margin: auto;
  }
  .reply-text,
  .edit-text {
    margin: 0;
    font-size: 15px;
  }
  .comment-text {
    grid-row: 2/3;
    grid-column: 1/7;
    width: 100%;
    padding: 10px;
    text-align: left;
  }
  .delete-edit-group {
    width: 120px;
    margin: auto;
    grid-row: 3/4;
    grid-column: 5/7;
    display: grid;
    column-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
  }
  .edit {
    /* width: max-content; */
    width: 50px;
    /* margin: auto auto; */
    grid-row: 1;
    grid-column: 1;
    margin: auto;
  }
  .delete {
    width: 60px;
    grid-row: 1;
    grid-column: 2;
    margin: auto 0px auto 10px;
  }
  .delete-text {
    font-size: 14px;
  }
  .write-card-container {
    width: 100%;
    max-width: 100%;
  }

  .write-card {
    display: grid;
    grid-template-columns: 60px auto 100px;
    grid-template-rows: auto 60px;
    background-color: white;
    /* width: 500px; */
    width: 100%;
  }
  .user-icon-write {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .write-comment {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .post-comment {
    margin: 10px 0px;
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .card .update-comment {
    height: 100px;
    /* width: 100%; */
    padding: 10px;
    grid-row: 2/3;
    grid-column: 1/7;
  }
  .card .update-comment:focus {
    outline-color: hsl(223, 19%, 93%);
  }
  .post-updated-comment {
    width: 70px;
    height: 40px;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    grid-row: 3/4;
    grid-column: 4/5;
    /* border-color: aliceblue; */
  }
}

@media screen and (max-width: 414px) {
  .container {
    padding: 5px;
  }
  .card-container {
    width: 100%;
    max-width: 100%;
  }
  .card {
    max-width: 100%;
    grid-template-columns: 40px 30px 70px 100px auto;
    grid-template-rows: 50px, auto, 50px;
  }
  .hr {
    margin: 0px 5px;
  }
  .vote {
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    width: 70px;
    /* align-content: center; */
    grid-row: 3;
    grid-column: 1/3;
  }
  .plus-icon,
  .minus-icon,
  .vote-count {
    margin: auto 0px;
  }

  .delete-icon,
  .edit-icon,
  .reply-icon {
    width: 20px;
    height: 20px;
  }
  .user-icon {
    width: 40px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .username {
    grid-row: 1/2;
    grid-column: 2/4;
  }
  .date {
    grid-row: 1/2;
    grid-column: 4/5;
  }
  .reply {
    grid-row: 3/4;
    grid-column: 4/6;
    margin: auto;
  }
  .reply-text,
  .edit-text {
    margin: 0;
    font-size: 15px;
  }
  .comment-text {
    grid-row: 2/3;
    grid-column: 1/6;
    width: 100%;
    padding: 10px;
    text-align: left;
  }
  .delete-edit-group {
    width: 100%;
    margin: auto;
    grid-row: 3/4;
    grid-column: 4/6;
    display: grid;
    column-gap: 0px;
    grid-template-columns: max-content max-content;
    grid-template-rows: 50px;
  }
  .edit {
    width: max-content;
    margin: auto auto;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .delete {
    width: max-content;
    grid-row: 1/2;
    grid-column: 2/3;
    margin: auto 10px;
  }
  .delete-text {
    font-size: 14px;
  }
  .write-card-container {
    width: 100%;
    max-width: 100%;
  }

  .write-card {
    display: grid;
    grid-template-columns: 60px auto 100px;
    grid-template-rows: auto 60px;
    background-color: white;
    /* width: 500px; */
    width: 100%;
  }
  .user-icon-write {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .write-comment {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .post-comment {
    margin: 10px 0px;
    grid-row: 2/3;
    grid-column: 3/4;
  }
  .card .update-comment {
    height: 100px;
    /* width: 100%; */
    padding: 10px;
    grid-row: 2/3;
    grid-column: 1/6;
  }
  .card .update-comment:focus {
    outline-color: hsl(223, 19%, 93%);
  }
  .post-updated-comment {
    width: 70px;
    height: 40px;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    grid-row: 3/4;
    grid-column: 3/4;
    /* border-color: aliceblue; */
  }
}
